@using CollegeVotingSystem.Models
@model tbl_User
@{
    ViewBag.Title = "Update User Biometric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>User Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "User")">User</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row g-2">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">@ViewBag.Title</div>
                @using (Html.BeginForm())
                {
                    <div class="row mb-2 g-2">
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Username)
                            <input type="hidden" name="Fingerprint1" value="" />
                            @if (ViewBag.Message != null)
                            {
		                        <p class="alert alert-success"><i class="fa fa-check-circle"></i> @ViewBag.Message</p>
                            }
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-success" />
                        </div>
                    </div>
                }
                <div class="row mb-3">
                    <label class="col-form-label col-md-4">READER</label>
                    <div class="col-md-8">
                        <span id="messageoutput"></span>
                        <select id="readers" class="form-select">
                            <option value="">Select Reader</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div id="scanned" class="col-md-8 offset-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Information</div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@string.Format("{0}", Model.Img == null ? Url.Content("~/Content/Img/noimage-available.jpeg") : Model.Img64)" width="100%" alt="Alternate Text" />
                    </div>
                    <div class="col-md-9">
                        <h4>@Model.Fullname</h4>
                        <span>@Model.CourseName</span><br />
                        <span><b>@Model.StudentID</b></span><br />
                        <span>@Model.Age Years old</span><br />
                        @if (string.IsNullOrEmpty(Model.Fingerprint1))
                        {
                            <span class="text-warning fa-fade"><i class="fa fa-exclamation-triangle"></i> No available fingerprint</span>
                        }
                        else
                        {
                            <span class="text-success"><i class="fa fa-check-circle"></i> Fingerprint verified</span>
                            <img src="@Url.Content(Model.Fingerprint1)" width="60" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var test = null;

        var myVal = ""; // Drop down selected value of reader

        var currentFormat = Fingerprint.SampleFormat.PngImage;

        var FingerprintSdkTest = (function () {
            function FingerprintSdkTest() {
                var _instance = this;
                this.operationToRestart = null;
                this.acquisitionStarted = false;
                this.sdk = new Fingerprint.WebApi;
                this.sdk.onDeviceConnected = function (e) {
                    // Detects if the deveice is connected for which acquisition started
                    showMessage("Scan your finger");
                };
                this.sdk.onDeviceDisconnected = function (e) {
                    // Detects if device gets disconnected - provides deviceUid of disconnected device
                    showMessage("Device disconnected");
                };
                this.sdk.onCommunicationFailed = function (e) {
                    // Detects if there is a failure in communicating with U.R.U web SDK
                    showMessage("Communinication Failed")
                };
                this.sdk.onSamplesAcquired = function (s) {
                    // Sample acquired event triggers this function
                    sampleAcquired(s);
                };
                this.sdk.onQualityReported = function (e) {

                }

            }

            FingerprintSdkTest.prototype.startCapture = function () {
                if (this.acquisitionStarted) // Monitoring if already started capturing
                    return;
                var _instance = this;
                showMessage("");
                this.operationToRestart = this.startCapture;
                this.sdk.startAcquisition(currentFormat, myVal).then(function () {
                    _instance.acquisitionStarted = true;

                }, function (error) {
                    showMessage(error.message);
                });
            };
            FingerprintSdkTest.prototype.stopCapture = function () {
                if (!this.acquisitionStarted) //Monitor if already stopped capturing
                    return;
                var _instance = this;
                showMessage("");
                this.sdk.stopAcquisition().then(function () {
                    _instance.acquisitionStarted = false;

                    //Disabling stop once stoped
                    disableEnableStartStop();

                }, function (error) {
                    showMessage(error.message);
                });
            };

            FingerprintSdkTest.prototype.getInfo = function () {
                var _instance = this;
                return this.sdk.enumerateDevices();
            };

            FingerprintSdkTest.prototype.getDeviceInfoWithID = function (uid) {
                var _instance = this;
                return this.sdk.getDeviceInfo(uid);
            };


            return FingerprintSdkTest;
        })();

        function showMessage(message) {
            $('#messageoutput').text(message);
        }

        window.onload = function () {
            test = new FingerprintSdkTest();
            readersDropDownPopulate(() => {
                test.startCapture();
            });

        };

        function sampleAcquired(s) {
            var samples = JSON.parse(s.samples);
            $('input[name="Fingerprint1"]').val(Fingerprint.b64UrlTo64(samples[0]));
            $('#scanned').html('<img src="" alt="Fingerprint" width="300" height="300" />');
            $('#scanned img').attr('src', `data:image/png;base64,${Fingerprint.b64UrlTo64(samples[0])}`);
        }

        function readersDropDownPopulate(cb) { // Check for redirecting is a boolean value which monitors to redirect to content tab or not
            myVal = "";
            var allReaders = test.getInfo();
            allReaders.then(function (sucessObj) {
                var readersDropDownElement = document.getElementById("readers");
                readersDropDownElement.innerHTML = "";
                //First ELement
                var option = document.createElement("option");
                option.selected = "selected";
                option.value = "";
                option.text = "Select Reader";
                readersDropDownElement.add(option);
                for (i = 0; i < sucessObj.length; i++) {
                    var option = document.createElement("option");
                    option.value = sucessObj[i];
                    option.text = sucessObj[i];
                    readersDropDownElement.add(option);
                }

                //Check if readers are available get count and  provide user information if no reader available,
                //if only one reader available then select the reader by default and sennd user to capture tab
                cb(checkReaderCount(sucessObj));
            }, function (error) {
                showMessage(error.message);
            });
        }

        function checkReaderCount(sucessObj) {
            if (sucessObj.length == 0) {
                alert("No reader detected. Please connect a reader.");
            } else if (sucessObj.length == 1) {
                document.getElementById("readers").selectedIndex = "1";
            }
            selectChangeEvent(); // To make the reader selected
        }

        function selectChangeEvent() {
            var readersDropDownElement = document.getElementById("readers");
            myVal = readersDropDownElement.options[readersDropDownElement.selectedIndex].value;
        }


</script>
}
