@model CollegeVotingSystem.Models.tbl_Election
@using CollegeVotingSystem.Models
@{

}
<div class="col-md-12">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
<div class="col-md-6">
    <div class="row mb-3">
        @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 col-form-label col-form-label-sm" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(model => model.ElectionDate, new { @class = "col-sm-2 col-form-label col-form-label-sm" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.ElectionDate, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.ElectionDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(model => model.Remarks, new { @class = "col-sm-2 col-form-label col-form-label-sm" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card-title">Candidate(s)</div>
    <table class="table table-light table-bordered">
        <thead>
            <tr>
                <th>Candidate</th>
                <th>Position</th>
                <th>Plataforma</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Candidates?.Count >= 1)
            {
                @foreach (var item in Model.Candidates.Select((value, i) => new { i, value }))
                {
                    <tr>
                        <td>
                            @Html.DropDownList($"Candidates[{item.i}].UserID", new tbl_User().ListUser(item.value.UserID), "Select Candidate", new { @class = "form-select form-select-sm" })
                        </td>
                        <td>
                            @Html.DropDownList($"Candidates[{item.i}].Position", new tbl_Position().ListPosition(item.value.Position), "Select Position", new { @class = "form-select form-select-sm" })
                        </td>
                        <td>
                            @Html.TextArea($"Candidates[{item.i}].Plataforma", new { @class = "form-control form-control-sm" })
                        </td>
                    </tr>
                    
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.DropDownList($"Candidates[0].UserID", new tbl_User().ListUser(), "Select Candidate", new { @class = "form-select form-select-sm" })
                    </td>
                    <td>
                        @Html.DropDownList($"Candidates[0].Position", new tbl_Position().ListPosition(), "Select Position", new { @class = "form-select form-select-sm" })
                    </td>
                    <td>
                        @Html.TextArea($"Candidates[0].Plataforma", new { @class = "form-control form-control-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

</script>