@using CollegeVotingSystem.Models
@model IEnumerable<tbl_Election>
@{
    ViewBag.Title = "Setup Election";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">@ViewBag.Title</div>
                <div class="row row-cols-lg-auto g-1 align-items-center mt-3">
                    <div class="col" aria-action="Add">
                        <p>
                            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })
                        </p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="data" class="table table-light table-hover table-striped" style="font-size:0.9rem;">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.ElectionDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                        <b>Candidate(s)</b>
                                        <table class="table table-sm table-light table-bordered">
                                            <tr>
                                                <th>Fullname</th>
                                                <th>Position</th>
                                                <th>Course</th>
                                                <th>Plataforma</th>
                                            </tr>
                                            @foreach (var c in item.Candidates)
                                            {
                                                <tr>
                                                    <td>
                                                        <img width="30" class="rounded-circle me-2" src="@string.Format("{0}", c.Img == null ? Url.Content("~/Content/Img/noimage-available.jpeg") : c.Img64)" alt="Alternate Text" />
                                                        @c.Fullname
                                                    </td>
                                                    <td>@c.PositionName</td>
                                                    <td>@c.Course</td>
                                                    <td>@c.Plataforma</td>
                                                </tr>
                                            }
                                            
                                        </table>
                                    </td>
                                    <td><span class="badge text-bg-success">@Html.FormatValue(item.ElectionDate, "{0:MMM dd, yyyy}")</span></td>
                                    <td>@Html.DisplayFor(modelItem => item.Remarks)</td>
                                    <td class="text-end">
                                        <div class="filter">
                                            <a class="text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-action="Edit"><a href="@Url.Action("Edit", new { ID = item.ID })" class="dropdown-item" title="Edit/Modify"><i class="fa fa-edit me-2" style="font-size: 0.8rem;"></i>Edit</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#data').DataTable({
            ordering: false,
            searching: true
        });

    </script>
}