@model CollegeVotingSystem.Models.tbl_Course
@{

}
<div class="col-md-12">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
<div class="col-md-12">
    <div class="row mb-3">
        @Html.LabelFor(model => model.Course, new { @class = "col-sm-2 col-form-label col-form-label-sm" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
        </div>
    </div>
</div>